<% include ./partials/header.ejs %>
<div class="container">
    <div>
        <!-- <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
            <tr><td bgcolor="#ff6600">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
                    <tr><td style="width:18px;padding-right:4px">
                        <a href="https://news.ycombinator.com">
                            <img src="y18.gif" width="18" height="18" style="border:1px white solid;">
                        </a>
                    </td>
                    <td style="line-height:12pt; height:10px;">
                        <span class="pagetop">
                            <b class="hnname"><a href="news">Hacker News</a></b>
                            <a href="newest">new</a> | <a href="front">past</a> | <a href="newcomments">comments</a> | <a href="ask">ask</a> | <a href="show">show</a> | <a href="jobs">jobs</a> | <a href="submit">submit</a>            
                        </span>
                    </td>
                    <td style="text-align:right;padding-right:4px;">
                        <span class="pagetop">
                            <a href="login?goto=news">login</a>
                        </span>
                    </td>
            </tr>
        </table></td></tr> -->
    </div>
    <div>
        <div>
            <a href='<%= data.url %>'><%=data.title %></a><br>
            <%= data.points %> points by <%= data.autor %> on <%= data.created_at %> | Comments
        </div><br><br>
        <div>
            <% data.children.forEach(function(comment){ %>
                <div>
                    <a><%= comment.author%> </a><a> on <%=comment.created_at%></a><br>
                    <%- comment.text %>
                </div><br>
            <% }); %>
        </div>
    </div>
</div>
<% include ./partials/header.ejs %>